html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.select {
  position: relative;
  color: #000;
  z-index: 1;
  min-width: toRem(250);
}
.select._active {
  z-index: 2;
}
.select .option {
  background-color: #fcf9f9;
  padding: toRem(10);
}
.select .option._active {
  background-color: #00aa63;
  color: #fff;
}
.select .option-list {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 5;
}
.select .option-list.option-open {
  display: block;
}
.select .selected {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: toRem(1) solid #e1e1e1;
}
.select .selected.option-open {
  background-color: #00aa63;
  color: #fff;
  font-weight: 700;
}
.select .selected-icon {
  transition: all 0.3s;
  position: relative;
  width: toRem(12);
  height: toRem(12);
}
.select .selected-icon svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.select .selected-icon path {
  fill: #000;
}
.select .selected-icon.active {
  transform: rotate(-180deg);
}
.select .option-list .option {
  white-space: nowrap;
  width: 100%;
  text-align: left;
  border: toRem(1) solid #e1e1e1;
}
.select .option-list .option:first-child {
  border-top: none;
}
.select .option-list .option:not(:last-child) {
  border-bottom: none;
}
@media (any-hover: hover) {
  .select .option-list .option:hover {
    background-color: #00aa63;
    color: #fff;
  }
}

.checkbox {
  position: relative;
  transition: all 0.3s;
  z-index: 1;
}
.checkbox:hover {
  background-color: #e1e1e1;
}
.checkbox label {
  width: 100%;
  padding: toRem(10);
}
.checkbox label span:nth-child(2) {
  margin-left: auto;
}
.checkbox__label::before {
  align-self: center;
}
@media (any-hover: hover) {
  .checkbox__label:hover .checkbox__product-number {
    background-color: var(--primary);
    color: #fff;
  }
  .checkbox__label:hover::before {
    border-width: toRem(5);
  }
}
.checkbox__product-number {
  padding: toRem(4);
  border-radius: toRem(3);
  transition: all 0.3s;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label::after {
  background-color: #000;
}
.checkbox__input:checked + label .checkbox__product-number {
  background-color: #000;
  color: #fff;
}
.checkbox__input:checked + label:hover::after {
  background-color: #000;
}
.checkbox__input:checked + label:hover::before {
  border-width: toRem(3);
}
.checkbox__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 10px;
}
.checkbox__label:before {
  content: "";
  display: block;
  align-self: flex-start;
  flex: 0 0 toRem(20);
  width: toRem(20);
  height: toRem(20);
  border: toRem(1) solid rgb(69, 69, 69);
  transition: all 0.2s linear;
}
.checkbox__label:after {
  content: "";
  position: absolute;
  left: toRem(10);
  width: toRem(10);
  height: toRem(10);
  transform: translate(50%, 0);
}
.checkbox__text {
  color: #000;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.usd::before {
  content: "$";
}