.footer {
  background-color: #222222;
  padding-top: toRem(75);
  padding-bottom: toRem(40);
}
.footer__top {
  display: flex;
  gap: toRem(40);
  flex-wrap: wrap;
  color: #fff;
}
.footer__top .logo {
  display: inline-block;
  color: #fff;
}
.footer__col {
  display: flex;
  flex-direction: column;
  gap: toRem(30);
}
.footer__links {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: toRem(20);
       column-gap: toRem(20);
  row-gap: toRem(50);
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: toRem(30);
  flex: 1 1 calc(25% - toRem(90));
}
.footer__title {
  color: rgba(255, 255, 255, 0.431372549);
  font-size: toRem(20);
  font-weight: 600;
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__item {
  font-size: toRem(17);
  font-weight: 400;
}
.footer__item:not(:last-child) a {
  padding-bottom: toRem(16);
}
.footer__item a {
  display: inline-block;
  width: 100%;
  transition: all 0.3s ease;
  line-height: normal;
}
.footer__item a span {
  position: relative;
  display: inline-block;
}
.footer__item a span::before {
  content: "";
  position: absolute;
  width: 0%;
  height: toRem(1);
  top: 100%;
  right: 0;
  background-color: var(--primary);
  transition: all 0.5s ease;
}
@media (any-hover: hover) {
  .footer__item a:hover {
    color: var(--primary);
  }
  .footer__item a:hover span::before {
    width: 100%;
    left: 0;
  }
}
.footer__medias {
  display: flex;
  gap: toRem(20);
  font-size: toRem(25);
}
.footer__bottom {
  border-top: toRem(1) solid #555;
  padding-top: toRem(45);
  margin-top: toRem(70);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
  -moz-column-gap: toRem(60);
       column-gap: toRem(60);
  row-gap: toRem(30);
}
.footer__text {
  font-weight: 400;
  font-size: toRem(17);
  color: #fff;
}
.footer__payments {
  display: flex;
  align-items: center;
  -moz-column-gap: toRem(30);
       column-gap: toRem(30);
  row-gap: toRem(15);
  flex-wrap: wrap;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: toRem(20);
}
.footer-address__column {
  display: flex;
  flex-direction: column;
}
.footer-address__column span {
  font-size: toRem(17);
  font-weight: 400;
  color: #B3B3B3;
}
.footer-address__number {
  font-size: toRem(30);
  font-weight: 600;
  color: #FFFFFF;
}
.footer-address__text {
  font-size: toRem(17);
  font-weight: 400;
  line-height: em(28);
  color: #FFFFFF;
}
.footer-address__mail {
  text-decoration: underline !important;
}