.cart-page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  
    .cart-page {
      background-color: #f4f4f4;
      flex: 1 1 auto;
      padding: toRem(30);
      h1{
        font-size: toRem(32);
        margin-bottom: toRem(20);
      }
      .cart__container {
        background-color: white;
        padding-block: toRem(40);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      .cart-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .cart-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          border-bottom: 1px solid #ddd;
  
          .cart-item-info {
            flex: 1 1 toRem(150);
            display: flex;
            gap: 20px;
  
            .cart-item-image {
              width: toRem(150);
              height: auto;
              object-fit: contain;
            }
  
            .cart-item-details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 10px;
  
              h3 {
                margin: 0;
                font-size: 1.2rem;
                font-weight: 600;
              }
  
              p {
                margin: 0;
                font-size: 0.9rem;
                color: #555;
              }
  
              .cart-item-price {
                font-weight: bold;
                color: #333;
              }
            }
          }
  
          .cart-item-quantity {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1rem;
            .quantity-controls{
              display: flex;
              gap: toRem(10);
              align-items: center;
            }
            button{
              width: toRem(40);
              height: toRem(30);
              border: toRem(1) solid #3335;
              border-radius: toRem(5);
              background-color: #ffffff;
              font-size: toRem(30);
              font-weight: 300;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            label {
              font-size: 1.1rem;
              color: #333;
            }
            input[type=number] {
              -moz-appearance: textfield; /* Firefox */
            }
            
            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
              -webkit-appearance: none; /* Chrome, Safari, Edge */
              margin: 0;
            }
            input {
              max-width: toRem(80);
              padding: 0.5rem;
              border-radius: 5px;
              text-align: center;
              background-color: #d1e2ee;
              border: toRem(1) solid #333;
              &:focus {
                outline: none;
                border-color: #4caf50;
              }
            }
          }
        }
  
        .empty-cart-message {
          font-size: 1.2rem;
          text-align: center;
          color: #777;
        }
      }
  
      .cart-summary {
        margin-top: 30px;
        border-top: 1px solid #ddd;
        padding-top: 20px;
  
        h3 {
          font-size: 1.5rem;
          margin-bottom: 15px;
        }
  
        .summary-item {
          display: flex;
          justify-content: space-between;
          padding: 8px 0;
          font-size: 1rem;
  
          &.total {
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }
  
      .checkout-actions {
        margin-top: 20px;
        display: flex;
        justify-content: center;
  
        .proceed-to-checkout {
          background-color: #333;
          color: white;
          font-size: 1.1rem;
          padding: 15px 30px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: #444;
          }
        }
      }
      .remove-item{
        font-size: toRem(25);
      }
    }
  }

