.checkout-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
	color: #333;

	.checkout__container {
		width: 100%;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		margin: toRem(20);
		padding: toRem(20);
		h1 {
			text-align: center;
			color: #333;
			font-size: 32px;
			margin-bottom: 30px;
		}

		.checkout-section {
			margin-bottom: 40px;

			h2 {
				color: #333;
				font-size: 24px;
				margin-bottom: 15px;
			}

			form {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 20px;

				input {
					padding: 10px;
					border: 1px solid #ddd;
					border-radius: 4px;
					font-size: 14px;
					background-color: #f9f9f9;
					width: 100%;
				}

				input:focus {
					border-color: #333;
					background-color: #fff;
				}
			}
		}

		.order-summary {
			margin-top: 30px;

			ul {
				list-style-type: none;
				padding: 0;
				margin-bottom: 20px;

				.order-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20px;
					border-bottom: 1px solid #ddd;
					padding-bottom: 10px;
					gap: toRem(20);
					@media (max-width: $mobileSmall) {
						flex-direction: column;
						align-items: start;
					}

					.order-item-details {
						display: flex;
						flex-direction: row;
						align-items: center;
						gap: toRem(20);
						@media (max-width: $mobileSmall) {
							flex-direction: column;
							align-items: start;
						}

						.order-item-image {
							width: 100px;
							height: auto;
							margin-right: 20px;
						}

						.order-item-info {
							display: flex;
							flex-direction: column;

							h3 {
								font-size: 18px;
								color: #333;
								margin: 0 0 5px;
							}

							p {
								font-size: 14px;
								color: #666;
								margin: 2px 0;
							}
						}
					}

					.order-item-quantity {
						text-align: right;
						display: flex;
						flex-direction: column;
						gap: toRem(10);
						p {
							font-size: 16px;
							color: #333;
							display: flex;
							gap: toRem(5);
						}
					}
				}
			}

			.summary-item {
				font-size: 16px;
				margin: 10px 0;

				span {
					color: #333;
				}

				.total {
					font-weight: bold;
					font-size: 18px;
				}
			}
		}

		.checkout-btn {
			width: 100%;
			padding: 15px;
			background-color: #333;
			color: #fff;
			font-size: 18px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #555;
			}
		}
	}
}
.checkout-result {
	&.hidden {
		display: none;
		animation: none;
	}
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 12;
	background-color: #3335;
	display: flex;
	justify-content: center;
	align-items: center;
	// .checkout-result__block

	&__block {
		&.procced {
			svg {
				color: var(--primary);
			}
		}
		background-color: #fff;
		border-radius: 1em;
		padding: toRem(30) toRem(60);
		text-align: center;
		animation: appeare 0.2s linear 0s;
		svg {
			font-size: toRem(80);
			color: #c08600;
		}
	}

	// .checkout-result__text

	&__text {
		padding: toRem(20) toRem(0) toRem(30) toRem(0);
		font-size: toRem(20);
	}

	// .checkout-result__button

	&__button {
		margin: toRem(0) toRem(0) toRem(0) 0;
		border: toRem(1) solid var(--primary);
		@media (any-hover: hover) {
			&:hover {
				background-color: #fff;
				color: var(--primary);
			}
		}
	}
}
@keyframes appeare {
	from {
		scale: 0;
	}
	to {
		scale: 1;
	}
}
