.side-bar {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 11;
	display: flex;
	justify-content: flex-end;
	&.close {
		visibility: hidden;
		transition: all 0.3s ease;
		.side-bar__block {
			right: -100%;
		}
		.side-bar__layer {
			opacity: 0;
		}
	}

	&__layer {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #0005;
		z-index: 1;
		transition: all 0.3s ease;
		opacity: 1;
	}

	// .side-bar__block

	&__block {
		position: relative;
		transition: all 0.3s ease;
		right: 0;
		background-color: #fff;
		z-index: 2;
		padding: toRem(20);
		display: flex;
		flex-direction: column;
		min-width: toRem(370);
		@media (max-width: $mobileSmall) {
			min-width: auto;
			width: calc(100% - toRem(70));
		}
	}

	// .side-bar__top

	&__top {
		display: block;
		margin-bottom: toRem(20);
		padding: toRem(20);
		transition: all 0.2s ease;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
			}
		}
		h2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: toRem(15);
			width: 100%;
			font-size: toRem(30);
			svg {
				width: toRem(40);
			}
			span {
				text-transform: uppercase;
				font-weight: 400;
				font-size: toRem(18);
				color: rgb(34, 34, 34);
			}
		}
	}

	&__block-items {
		max-width: 100%;
		overflow-y: auto;
		flex: 1 1 auto;
		&::-webkit-scrollbar {
			width: toRem(7);
			border-radius: toRem(10);
			background-color: #fff;
			box-shadow: inset toRem(0) toRem(0) toRem(2);
		}
		&::-webkit-scrollbar-thumb {
			border-radius: toRem(10);
			background-color: #000;
		}
	}

	// .side-bar__items

	&__items {
		padding: toRem(20) toRem(10);
	}

	// .side-bar__no-item

	&__no-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-block: toRem(30);
		gap: toRem(20);
		p {
			color: rgb(34, 34, 34);
			font-size: toRem(14);
			font-weight: 400;
		}
		button {
			text-transform: uppercase;
		}
	}

	&__bottom {
		padding-top: toRem(30);
	}

	// .side-bar__summary

	&__summary {
	}

	// .side-bar__actions

	&__actions {
		display: flex;
		flex-direction: column;
		gap: toRem(20);

		.button {
			text-align: center;
			text-transform: uppercase;
			padding: toRem(14) toRem(23);
			transition: all 0.2s ease;
		}
	}
}
.side-bar-item {
	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 0 toRem(10) 0 rgba(0, 0, 0, 0.3);
			.side-bar-item__remove {
				transform: translate(50%, -50%);
				opacity: 1;
				visibility: visible;
			}
		}
	}
	margin-right: toRem(20);
	transition: all 0.3s ease;
	display: flex;
	gap: toRem(20);
	padding: toRem(20);
	border: toRem(1) solid transparent;
	border-radius: toRem(5);
	position: relative;
	@media (max-width: $mobileSmall) {
		font-size: toRem(14);
	}

	// .side-bar-item__image

	&__image {
		width: toRem(60);
		height: toRem(60);
		mix-blend-mode: darken;
		@media (max-width: $mobileSmall) {
			width: toRem(50);
			height: toRem(50);
		}
	}

	// .side-bar-item__details

	&__details {
	}

	h3 {
		font-weight: 600;
	}

	// .side-bar-item__price

	&__price {
		margin-top: toRem(5);
		color: gray;
		font-weight: 400;
	}

	// .side-bar-item__quantity

	&__quantity {
		display: flex;
		align-items: center;
		gap: toRem(10);
		margin-top: toRem(10);
	}

	// .side-bar-item__remove

	&__remove {
		position: absolute;
		top: 0;
		right: 0;
		width: toRem(30);
		height: toRem(30);
		background-color: #fff;
		border: toRem(1) solid #0005;
		border-radius: 50%;
		transform: translate(0%, 0%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;
	}

	.add-to-cart {
		margin-top: toRem(20);
		padding: toRem(5) toRem(10);
	}
}
.quantity-controls {
	display: flex;
	align-items: center;
	gap: toRem(5);
	border: toRem(1) solid #e6e6e6;
	background-color: #fff;
	button {
		width: toRem(30);
		height: toRem(20);
		font-size: toRem(20);
		font-weight: 300;
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-child(1) {
			border-right: toRem(1) solid #e6e6e6;
		}
		&:nth-child(3) {
			border-left: toRem(1) solid #e6e6e6;
		}
	}
}
.side-bar-summary {
	display: flex;
	flex-direction: column;
	gap: toRem(10);
	margin-bottom: toRem(20);
	// .side-bar-summary__item

	&__item {
		display: flex;
		justify-content: space-between;
		color: rgb(34, 34, 34);
		font-size: toRem(14);
		font-weight: 400;
		gap: toRem(10);
		text-transform: uppercase;
	}
}
.side-bar-actions {
	// .{`side-bar-actions__cart-button

	&__cart-button {
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary) !important;
			}
		}
	}

	// .{`side-bar-actions__checkout-button

	&__checkout-button {
		@media (any-hover: hover) {
			&:hover {
				background-color: #3e3d3d;
			}
		}
	}
}
.cart-sidebar {
	padding: toRem(20);
}
