@use "sass:math";

@import "base/mixins.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
// &display=swap - добавить при подключении через плагин

// Montserrat
// @import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");

/* site settings */
:root {
	// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
	--font-family: "Inter", Sans-serif;
	--font-wieght: 500;

	--font-size: 1rem; // где 14(px) - размер шрифта по умолчанию

	// Default colors
	--main-text-color: #222222;
	--primary: #00796b;
}

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================
$maxWidth: 1920;
$minWidth: 375;
// Ширина ограничивающего контейнера
$maxWidthContainer: 1440;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding * 2;

// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшети в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
// Приклепляет footer к снизу
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"] {
	max-width: toRem($containerWidth);
	margin: 0 auto;
	padding: 0 toRem($containerPadding);
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base";

// Подключение стилей общих элементов проекта
@import "./widgets/common";
@import "general";

// widgets
@import "widgets/header";
@import "widgets/footer";
@import "widgets/card";
@import "widgets/slider";
@import "widgets/sideBar";
@import "widgets/banner";

//========================================================================================================================================================
// Pages
@import "pages/home/home";
@import "pages/shop/shop";
@import "pages/productPage";
@import "pages/cartPage";
@import "pages/checkoutPage";
@import "pages/userAccountPage";
@import "pages/log";
@import "pages/contacts";
@import "pages/wishlist";
@import "./widgets/customNotify";
